<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<div name="image">
    <img name="image" src="static/image/movie_adda.png">
</div>

<div name="adminlogin">
    <form action="/check_admin" method="POST">
        <table>
            <tr>
                <td>User Name</td>
                <td><input type="text" name="user_name" required></td>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="user_password" required></td>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td><a href="/theater_registration">New Theater, Register here</a></td>
                <td align="center"><button>Sign in</button></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>