<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Seats</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class ="progress">
    <div class="progress-highlight" id="bar.highlight"></div>
</div>
<br>
<br>
<br>
<br>

<div class="movie-container">
      <label class ="ques">Want to Book seats ??</label>
      <select id="selectSeat">
        <option value ={{ticket}} hidden>Select Seat</option>
      </select>
    </div>
<br>



<div class ="eye"> <center><b>All eyes this way please..!!<b> </center></div>
    <div class="container" id="js-container" >

        <div class="screen"></div>

            <br>
            <br>

            <div class="row">
                <div class="seat">L1</div>
                <div class="seat">L2</div>
                <div class="seat">L3</div>
                <div class="seat">L4</div>
                <div class="seat">L5</div>
                <div class="seat">L6</div>
                <div class="seat">L7</div>
                <div class="seat">L8</div>
                <div class="seat">L9</div>
                <div class="seat">L10</div>
                <div class="seat">L11</div>
                <div class="seat">L12</div>
            </div>

            <div class="row">
                <div class="seat">K1</div>
                <div class="seat">K2</div>
                <div class="seat">K3</div>
                <div class="seat">K4</div>
                <div class="seat">K5</div>
                <div class="seat ">K6</div>
                <div class="seat">K7</div>
                <div class="seat">K8</div>
                <div class="seat">K9</div>
                <div class="seat">K10</div>
                <div class="seat">K11</div>
                <div class="seat">K12</div>
            </div>
            <div class="row">
                <div class="seat">J1</div>
                <div class="seat">J2</div>
                <div class="seat">J3</div>
                <div class="seat">J4</div>
                <div class="seat">J5</div>
                <div class="seat">J6</div>
                <div class="seat">J7</div>
                <div class="seat">J8</div>
                <div class="seat">J9</div>
                <div class="seat">J10</div>
                <div class="seat">J11</div>
                <div class="seat">J12</div>
            </div>
            <br>


            <div class="row">
                <div class="seat">I1</div>
                <div class="seat">I2</div>
                <div class="seat">I3</div>
                <div class="seat">I4</div>
                <div class="seat">I5</div>
                <div class="seat">I6</div>
                <div class="seat">I7</div>
                <div class="seat">I8</div>
                <div class="seat">I9</div>
                <div class="seat">I10</div>
                <div class="seat">I11</div>
                <div class="seat">I12</div>
            </div>
            <div class="row">
                <div class="seat">H1</div>
                <div class="seat">H2</div>
                <div class="seat">H3</div>
                <div class="seat">H4</div>
                <div class="seat">H5</div>
                <div class="seat">H6</div>
                <div class="seat">H7</div>
                <div class="seat">H8</div>
                <div class="seat">H9</div>
                <div class="seat">H10</div>
                <div class="seat">H11</div>
                <div class="seat">H12</div>
            </div>
             <div class="row">
                <div class="seat">G1</div>
                <div class="seat">G2</div>
                <div class="seat">G3</div>
                <div class="seat">G4</div>
                <div class="seat">G5</div>
                <div class="seat">G6</div>
                <div class="seat">G7</div>
                <div class="seat">G8</div>
                 <div class="seat">G9</div>
                <div class="seat">G10</div>
                <div class="seat">G11</div>
                <div class="seat">G12</div>
            </div>
             <div class="row">
                <div class="seat">F1</div>
                <div class="seat">F2</div>
                <div class="seat">F3</div>
                <div class="seat">F4</div>
                <div class="seat">F5</div>
                <div class="seat">F6</div>
                <div class="seat">F7</div>
                <div class="seat">F8</div>
                 <div class="seat">F9</div>
                <div class="seat">F10</div>
                <div class="seat">F11</div>
                <div class="seat">F12</div>
            </div>
            <div class="row">
                <div class="seat">E1</div>
                <div class="seat">E2</div>
                <div class="seat">E3</div>
                <div class="seat">E4</div>
                <div class="seat">E5</div>
                <div class="seat">E6</div>
                <div class="seat">E7</div>
                <div class="seat">E8</div>
                <div class="seat">E9</div>
                <div class="seat">E10</div>
                <div class="seat">E11</div>
                <div class="seat">E12</div>
            </div>
            <div class="row">
                <div class="seat">D1</div>
                <div class="seat">D2</div>
                <div class="seat">D3</div>
                <div class="seat">D4</div>
                <div class="seat">D5</div>
                <div class="seat">D6</div>
                <div class="seat">D7</div>
                <div class="seat">D8</div>
                <div class="seat">D9</div>
                <div class="seat">D10</div>
                <div class="seat">D11</div>
                <div class="seat">D12</div>
            </div>
            <div class="row">
                <div class="seat">C1</div>
                <div class="seat">C2</div>
                <div class="seat">C3</div>
                <div class="seat">C4</div>
                <div class="seat">C5</div>
                <div class="seat">C6</div>
                <div class="seat ">C7</div>
                <div class="seat">C8</div>
                <div class="seat">C9</div>
                <div class="seat">C10</div>
                <div class="seat">C11</div>
                <div class="seat">C12</div>
            </div>
<br>
            <br>
            <div class="row1">
                <div class="seat1">B1</div>
                <div class="seat1">B2</div>
                <div class="seat1">B3</div>
                <div class="seat1">B4</div>
                <div class="seat1">B5</div>
                <div class="seat1">B6</div>
                <div class="seat1">B7</div>
                <div class="seat1">B8</div>
                <div class="seat1">B9</div>
                <div class="seat1">B10</div>
                <div class="seat1">B11</div>
                <div class="seat1">B12</div>
                <div class="seat1">B13</div>
                <div class="seat1">B14</div>

            </div>
            <div class="row1">
                <div class="seat1">A1</div>
                <div class="seat1">A2</div>
                <div class="seat1">A3</div>
                <div class="seat1">A4</div>
                <div class="seat1">A5</div>
                <div class="seat1">A6</div>
                <div class="seat1">A7</div>
                <div class="seat1">A8</div>
                <div class="seat1">A9</div>
                <div class="seat1">A10</div>
                <div class="seat1">A11</div>
                <div class="seat1">A12</div>
                <div class="seat1">A13</div>
                <div class="seat1">A14</div>

            </div>
        <br>
        <br>
        <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>N/A</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>
      <li>
        <div class="seat sold"></div>
        <small>Occupied</small>
      </li>
    </ul>
    </div>

<form action="/seat" method="post">
<p class="text1" >
      <center>You have selected <span id="count" >0</span> seat for a price of RS.<span id="total" >0</span><center>
</p>
    <p>
        <center><button>Confirm</button></center>
    </p>
    </form>

 <script type="text/javascript" src="{{ url_for('static', filename='JS/script.js') }}"></script>

</body>

</html>
